*{padding:0;margin:0;box-sizing: border-box;font-family: sans-serif;
  }
ul{list-style: none;}
a{text-decoration: none;}
.contenair{width:95%;margin:auto;}
:root{--main-color:#DB325A;
      --secound-color:#323232;
      --therd-color:#808080;
      --foor-color:#323232;}
input[type="checkbox"]{display: none;}
#buttons span{border:solid black;padding:2px;display: inline-block;
            border-width: 0 1px 1px 0;position: relative;top:-3px;}
#buttons >div:hover{background: var(--main-color);}
#buttons >div:hover span{border-color: white;}
#buttons > div{display: inline-block;border: 3px solid var(--main-color);padding:3px 8px;}
#right{ transform: rotate(-45deg);}
#left{ transform: rotate(135deg);}

/* body{overflow-x:  hidden;} */
h4,h3,h2,h1{font-weight: 100;font-size: 1.2rem;}
p{font-size: .9rem;}

#line{width:100%;height:10px;position: relative;}
#line span:nth-child(1){position: absolute;width:80%;
  left:10%;top:4px;border-bottom: 1px solid white;z-index: 1;}
#line span:nth-child(2){
  border-bottom: 3px solid var(--main-color);
  border-radius:  100px 100px;
  width:30%;
  position: absolute;
  left:50%;
  top:50%;z-index: 2;
  transform: translate(-50%,-50%);
}
/*header*/
header {
  background-image: url("../img/b1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
  width:100%;
  position: relative;
}
header:after{
  content:"";
  height:100vh;
  width:100%;
  left:0;
  top:0;
  background-color:var(--secound-color);
  opacity: 0.4;
  position: absolute;
  z-index: 1;
}
.contentheader:after{
  content:"";
  position: absolute;
  height:80px;
  width:100%;
  background:var(--therd-color);
  left:0;
  top:0;
  opacity:.3;
  z-index: 1;

}
header .header{
    position: relative;
    height:80px;
    z-index: 5;
}
header .header .contentheader{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height:80px;

}

header .header .title a{
  font-weight: 100;
  color:#FFFFFF;
  font-size: 30px;
}

header .header .title  span{
  color:var(--main-color);
  font-size: 50px;
  position: relative;
  top:8px;

}
header .header .nav,header .header .title{
    z-index:2;
}
header .header .nav{
  align-self: center;
  display:flex;
  position: relative;
}
header .header .nav label[for="menubar"] {
  width:35px;
  height:20px;
  display: inline-block;
  order: 2;
}
header .header .nav label[for="menubar"] span{
  display:block;
  width:30px;
  height:4px;
  background: white;
  margin: 2px;
  border-radius: 15%;
}
header .header .nav input:checked + nav{
  height:280px;
  opacity:1;
  transition: 0.5s all;
  position: absolute;

}
header .header .nav nav{
  position: absolute;
  right:35px;
  top:50px;
  padding-left:0.4em;
  box-sizing: border-box;
  height:0px;
  opacity:0;
  overflow: hidden;
  transition: 0.5s all;
  width: 200px;
  z-index: 15;
}
header .header .nav nav:before{
  content:"";
  position:absolute;
  height:100%;
  width:100%;
  background:var(--therd-color);
  opacity:.3;
}

header .header .nav nav > ul{
  padding:.3em;
  height: 280px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 13;
  position: relative;
}
header .header .nav nav > ul #active{
  color:var(--main-color);
}
header .header .nav nav > ul a:hover{
  color:var(--main-color);
  transition: 0.3s all;
}
header .header .nav nav > ul *{
margin:12px 0;
color:white;
text-transform: uppercase;
font-weight: 100;
}
header .header .nav nav > ul >li >ul>li{
  margin-left:15px;
}
header .textheader{
  position: absolute;
  text-align: center;
  top:50%;
  left:50%;
  transform: translateX(-50%);
  min-width:350px;
  min-height:10px;
  text-transform: uppercase;
  z-index: 2;
}
header .textheader *{
  margin-top: 6px;
}
header .textheader .text span{
  font-weight: 100;
  font-size: .9rem;
  color:white;
}
header .textheader .text span > span{
  color:var(--main-color);
}
header .textheader .text h1{
  font-weight: 600;
    letter-spacing: 3px;
}
header .textheader .text a{
    padding:1em 2em;
    border: 3px solid var(--main-color);
    display: inline-block;
    color:white;
    transition:  .3s background;

}
header .textheader .text a:hover{
  background:var(--main-color);
  transition:  .3s background;
}

header .boxelemnts{

width:100%;
min-height: 600px;
z-index: 3;
background:white;
position: absolute;
bottom: 0;
transform: translateY(90%);

}
header .boxelemnts .insidebox{

}
header .boxelemnts nav{
  width: 100%;
}
header .boxelemnts nav ul{
  display:flex;
    width:100%;
    justify-content: space-around;
    background:var(--secound-color);

}
header .boxelemnts nav ul li{
  color:white;
  width:100%;
}
header .boxelemnts nav ul li a{
  color:white;
  padding:1.4em 0em;
  display: inline-block;
  width:100%;
  text-align: center;
  transition: 0.3s background;
  font-size: 1.1em;
}
header .boxelemnts nav ul li a:hover{
  background:var(--main-color);
  transition: 0.3s background;
}
header .boxelemnts nav ul li #active1{
  background:var(--main-color);
}
header .boxelemnts section{
  margin-top:30px;

}

header .boxelemnts section article .item{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  box-sizing: content-box;
  padding:5px;
}
header .boxelemnts section article .item .itm{
  width:100%;
  display: grid;
  grid-template-columns:1em 1fr 1fr 1fr ;
  grid-template-rows: repeat(3,minmax(20px,auto));
  grid-template-areas: " .title . button "
                        ". . . . "
                        ". box box box  ";
}

header .boxelemnts section article .item .itm .title{
  grid-area: title;
}
header .boxelemnts section article .item .itm .buttons{
  grid-area: button;
}
header .boxelemnts section article .item .itm .slider{
  grid-area: box;
}
header .boxelemnts section article .item .itm .slider{
  display: flex;
  width:400%;
  box-sizing: border-box;
  justify-content: space-between;
}
header .boxelemnts section article .item .itm .slider .text{
  padding:10px;
  margin-left:100px;
}

header .boxelemnts section article .item .itm .slider .boxtext{
  width:100%;
  min-height: 130px;

}
header .boxelemnts section article .item .itm .slider .boxtext .img{
  height:100px;
  width:100px;
  border-radius: 50%;
  background:var(--main-color);
  float: left;
}
header .boxelemnts section article .item .contact{
  width:100%;
  padding:10px;
}
header .boxelemnts section article .item .contact *{
  margin:18px 0;
}

header .boxelemnts section article .item .contact .title{
  margin:15px 0;
}
header .boxelemnts section article .item .contact .boxinfo div:nth-child(3){
    color:var(--main-color);
}
/*Fin HEADER*/
#awesometheme{
  background:url("../img/b1.jpeg");

  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
  position: relative;
  overflow: hidden;
  z-index:1 ;
}
#awesometheme:before{
  content:"";
  position: absolute;
  height:100%;
  width:100%;
  left:0;
  top:0;
  background: black;
  opacity:0.9;
  z-index:-1 ;
}
#awesometheme article{
  margin:600px auto 0 auto;
  z-index: 3;
  font-size: 2rem;
  text-align: center;
  color:white;
  width:80%;


}
#awesometheme article h1{
  font-size: 1.2em;
  font-weight: 300;

}
#awesometheme article h3 {
  margin-top:10px;
  font-size: 0.7em;
}
#awesometheme article h3 span{
  color:var(--main-color);
  margin-top:10px;
}
#awesometheme article p{
  margin-top: 19px;
  font-weight: 100;
}
#awesometheme article a{
  font-size:0.4em;
  padding:1em 2em;
  border:2px solid var(--main-color);
  display: inline-block;
  color:white;
  font-weight: 700;
  margin:20px 0;
  text-transform: uppercase;
}
#awesometheme article a:hover{
  background:var(--main-color);
}
/**FIn awesometheme***/
#upcomingEvenets {
  background:var(--foor-color);
  width:100%;
  padding-top: 25px;
  overflow: hidden;
}
#upcomingEvenets .header h1{
  font-size:2rem;
  font-weight: 100;
  color: white;
  text-align: center;
}
#upcomingEvenets .header h1 span{
  font-weight: bold;
  letter-spacing: -2px;
}
#upcomingEvenets article .items{
  display: flex;
  justify-content: space-around;
}
#upcomingEvenets article .item{
  min-width:85%;
  background:white;
  margin:30px 15px;
}
#upcomingEvenets article .item .img{
  width:100%;
  height:250px;
  background:var(--main-color);
}
#upcomingEvenets article .item .info{

  }
#upcomingEvenets article .item .info h3{
  background:var(--main-color);
  padding:0.6em 1.5em;
  color:white;
  font-size: 100;
  text-align: left;
}
#upcomingEvenets article .item .info ul{
 padding:0.4em 1.5em;
   margin:20px 0;
  }
#upcomingEvenets article .item .info ul li {
      padding:0.6em 0;
  }
#upcomingEvenets article .item .info ul li:nth-child(1){
      font-weight: 100;
      color:var(--therd-color);
  }
#upcomingEvenets article .item .info ul li:not(:nth-child(3)){

  border-bottom: 1px solid black;
}
#upcomingEvenets article .item .info ul li:nth-child(3){
  color:var(--main-color);
}
#upcomingEvenets #buttons{
  text-align: center;
  margin:0 0 40px 0;
}
#upcomingEvenets #buttons div span{
  border-color: white;
}
/**fin upcomingEvenets****/
#trainer{
  padding:1em 0.51em;
  background:var(--main-color);
}
#trainer article > .header{
padding:0.2em 0.5em;
  text-align: center;
}
#trainer article .header h1{
font-size: 1.6rem;
margin:15px 0;
color:white;
}
#trainer article .header h1 strong{
  font-weight:  900;
}
#trainer article section .items{
  max-height:1000px;
  overflow: hidden;
}
#trainer article .header #line span:nth-child(1){
 opacity:0.3;
}
#trainer article .header #line span:nth-child(2){
  border-color: white;

}
#trainer article section .item{
  min-height:200px;
  width:100%;
  background:var(--foor-color);
  display: flex;
  flex-direction: column;
  margin:1.5em 0;
}
#trainer article section .item:nth-child(odd){
  background:white;
}
#trainer article section .item:nth-child(odd) .info{
  color:var(--foor-color);
}
#trainer article section .item .image{
  width:100%;
  height:280px;
  background:var(--main-color);
}
#trainer article section .item .info{
  padding:0.5em 1em;
  color: white;
}
#trainer article section .item .info *{
  margin:7px 0;
}
#trainer article section .item .info h6{
  color:var(--main-color);
}
#trainer article section .item .info p{
  padding:0.6em 0;
}
#trainer article section #buttons{
  text-align: center;
  padding:1em 0em;
}
#trainer article section #buttons #right{
  transform: rotate(45deg);
  border-color: var(--foor-color);
}
#trainer article section #buttons #left{
  transform: rotate(-135deg);
  border-color: var(--foor-color);
}
#trainer article section #buttons >div:hover{background:white;}
#trainer article section #buttons >div{
  background: var(--main-color);
border-color: white;}

#trainerinfo{
  width:90%;
margin:auto;
text-align: left;
width:340px;}
#trainerinfo .header {
color:white;
}
#trainerinfo .header:hover{
  background:white;
  color:var(--main-color);
}

#trainerinfo .categorie .catori .text{
  color:white;
  min-height: 150px;

}
#trainerinfo .categorie .catori .text .img{
  height:100px;
  width:100px;
  border-radius: 50%;
  background: white;
  float:left;
}
#trainerinfo .categorie .catori .text .texts{
float:right;
width:65%;
}
#trainerinfo .categorie .catori .text .texts a{
  padding: 0.4em 1.4em;
  background:white;
  color:black;
  display: inline-block;
text-transform: uppercase;
font-size: 0.8rem;
}
/****FIN trainerinfo*******/
#membership{
background:var(--foor-color);
padding:1em 0;
}

#membership article > .header{
padding:0.2em 0.5em;
  text-align: center;
}
#membership article .header h1{
font-size: 1.6rem;
margin:15px 0;
color:white;
}
#membership article .header h1 strong{
  font-weight:  900;
}
#membership article section {
  display: flex;
  flex-wrap: wrap;
}
#membership article section .article{
  text-align: center;
  margin:1.6em 0;
  min-width:400px;
  background:var(--main-color);
  color:white;
  transition: all 0.3s;
}
#membership article section .article:hover{
  background:var(--foor-color);

}
#membership article section .article:nth-child(odd){
  background:var(--foor-color);
}
#membership article section .article:nth-child(odd):hover{
  background: var(--main-color);
}
#membership article section .article .headers{
  background:white;
  color:var(--foor-color);
}
#membership article section .article .headers h2{
  padding:1em 0.5em;
}
#membership article section .article .body{
  
}
